<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.png") %>" alt="vue logo">
    </div><div class="right">
      <h2 class="vue">realmdigital</h2>
      <h1>
        Developer Docs
      </h1>
      <p>
        <a class="button has-icon" href="<%- url_for("/processes/") %>">
          <%- partial('icons/play') %>
          GET STARTED</a>
        <a class="button gray has-icon" href="https://github.com/realmdigital" target="_blank">
          <%- partial('icons/github-dark') %>
          GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Processes</h2>
      <p>How to do awesome things!</p>
    </div>

    <div class="point">
      <h2>Guides</h2>
      <p>Help you follow best practices and get started.</p>
    </div>
  </div>
</div>
<div id="footer">
  <p>
    <a class="social-icon" href="https://github.com/realmdigital" target="_blank">
      <%- partial('icons/github') %>
    </a>
    <a class="social-icon" href="https://twitter.com/realmdigital" target="_blank">
      <%- partial('icons/twitter') %>
    </a>
  </p>
  <p>Released under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a><br>
  Copyright &copy; <%- new Date().getFullYear() %> Realm Digital</p>
</div>

<script>
(function () {
  var topScrolled = false

  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
  })
})()
</script>
